# Express port. ex: 3001
PORT=

# Frontend URL. ex: http://localhost:3000
CORS_ORIGIN=

#ex: mysecret
JWT_SECRET=

#Em segundos ex: 1800
JWT_EXPIRES=

# Nome do seu banco de dados. ex: beholder
DB_NAME=

# Usuário do banco de dados. ex: root
DB_USER=

# Senha do banco de dados. ex: 123456
DB_PWD=

# Servidor do banco de dados. ex: localhost
DB_HOST=

# Porta do banco de dados. ex: 3306
DB_PORT=

# Dialeto do banco de dados. ex: mysql
DB_DIALECT=

#preencher seeder
DEFAULT_USER_EMAIL=
DEFAULT_USER_PWD=
DEFAULT_USER_TELEGRAM_CHAT=

# Node Binance API console logs. ex: true
BINANCE_LOGS=

# Você usa Binance Leveraged Tokens? ex: false
BINANCE_BLVT=

# Moedas ignoradas, separadas por vírgula. ex: AUD,NGN,GBP,EUR,RUB,UAH,TRY,BKRW,BIDR,ZAR,BVND
IGNORED_COINS=

# Sua moeda fiduciária principal. ex: USD
DEFAULT_FIAT=

# Seu par de chaves da Binance API.
ACCESS_KEY=
SECRET_KEY=